.bod{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/back3.jpg");
    background-size: cover;
    flex-direction: column;
    margin: 0;
    overflow-y: hidden;
    height: 100vh;
    width: 100%; 
}
.t1{
   display: flex;
   flex-direction:column;
   height: 500px;
   width:600px;
   align-items: center;
   background-color:rgb(245, 245, 245);
   justify-content: center;
   border-radius: 5%;
   background: transparent;
   margin-bottom: 5cm;
   color: white;
   z-index: 99;
}
.t{
    font-size: 30px;
    animation:Paral 3s;
    transition-duration: 0.5s;
}
@keyframes Paral {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1.2);
    }
}
.t>span1{
    display: flex;
    font-style: 0.5rem;
    color: aliceblue;
    font-size: 65px;
    margin-top:8rem ;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    color:tomato;
}
.t>span2{
    color: beige;
    display: flex;
}
.t3{
    background-color: rgb(222, 229, 229);
    opacity: .6;
    border-radius: 3%;
}
.t4{
    display: flex;
    gap:1rem;
}